<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Isiko Saidiali">
    <title>Kadamra</title>

    <link rel="canonical" href="https://kadamra.com/">

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html, body {
            margin: 0;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/product.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/icons.min.css">
    <link rel="stylesheet" href="/css/flickity.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light site-header flex-md-equal justify-content-between sticky-top">
        <div class="navbar-brand text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </div>
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbar-id"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar-id">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link p-3" href="/">Kadamra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3" href="/vendors">Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3" href="/categories">Categories</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link p-3" href="/auth/login">Login</a>
                </li> --}}
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>

    <div id="content">
        {{{body}}}
    </div>
    <footer class="mt-5 bg-dark text-white p-5" style="bottom: 0px;">
        <p class="text-center">Copyright@ kadamra.com</p>
    </footer>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/dist/js/bootstrap.bundle.js"></script>
<script src="/js/flickity.pkgd.min.js"></script>
