<div class="text-center masthead-cat section">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h1 class="text-uppercase">Product categories</h1>
    </div>
</div>


<div class="container-fluid section">
    <div class="">
        <p>
            Here at Kadamura shoppers we bring you most of what you need from out trusted <a href="/vendors">vendors</a> but we also
            know that its overwhelming. That is why we try to narrow it down to categories which you can browse here.
        </p>
        <p>The list is split into the different vendors so you can be guided quickly</p>
    </div>
</div>

<div class="categories section text-center">
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Phones & Tablets</h3>
            <p><i class="uil uil-tablet icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Electronics</h3>
            <p><i class="uil uil-headphones-alt icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Home & Office</h3>
            <p><i class="uil uil-home icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Fashion</h3>
            <p><i class="uil uil-users-alt icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Computing</h3>
            <p><i class="uil uil-laptop icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Health & Beauty</h3>
            <p><i class="uil uil-heart-rate icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Sporting Products</h3>
            <p><i class="uil uil-football-ball icon"></i></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 category">
            <h3>Baby Products</h3>
            <p><i class="uil uil-baby-carriage icon"></i></p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center ad">
    <a href="https://c.jumia.io/?a=90174&c=1556&p=r&E=kkYNyk2M4sk%3D&utm_campaign=90174&utm_term=">
        <picture>
            <source srcset="https://affiliates.jumia.com/banners/tT3gVTQklpOcKwIRD22Dp5D5wQaCUgTdyGkQAfxj.jpeg"
                media="(min-width: 761px)">
            <source srcset="https://affiliates.jumia.com/banners/nZGz8bRGUD27QFXiVOkkrak0RC7ejsFOFCdTdeAf.jpeg"
                media="(max-width: 760px)">
            <img src="/media/examples/painted-hand-298-332.jpg" alt="" />
        </picture>
    </a>
</div>