<div class="p-3 text-center section">
    <div class="d-flex justify-content-center ad">
        <a href="https://c.jumia.io/?a=90174&c=1556&p=r&E=kkYNyk2M4sk%3D&utm_campaign=90174&utm_term=">
            <picture>
                <source srcset="https://affiliates.jumia.com/banners/tT3gVTQklpOcKwIRD22Dp5D5wQaCUgTdyGkQAfxj.jpeg" media="(min-width: 761px)">
                <source srcset="https://affiliates.jumia.com/banners/nZGz8bRGUD27QFXiVOkkrak0RC7ejsFOFCdTdeAf.jpeg"
                    media="(max-width: 760px)">
                <img src="/media/examples/painted-hand-298-332.jpg" alt="" />
            </picture>
        </a>
    </div>
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h1 class="text-uppercase">Kadamura shoppers</h1>
        <p class="lead font-weight-normal">Your e-shopping friend, find the best with us. Level up your style with products from our top rated vendors.</p>
    </div>
</div>

<div class="main-carousel" data-flickity='{ "cellAlign": "center", "autoPlay": 2000, "wrapAround": true }'>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">ANYWHERE</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">UGANDA</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">KENYA</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">EGYPT</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">SOUTH AFRICA</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">IVORY COAST</span></h2>
    </div>
    <div class="carousel-cell">
        <h2>Shop From <span class="country">NIGERIA</span></h2>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="section mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="text-dark">Ongoing Campaigns</h2>
        </div>
        <div class="mx-auto">
            <img src="/images/img/jumia-global-small.png" alt="" class="img-fluid">
        </div>
        <a href="https://c.jumia.io/?a=90174&c=554&p=r&E=kkYNyk2M4sk%3D&ckmrdr=https%3A%2F%2Fwww.jumia.ug%2F&utm_campaign=90174" class="btn btn-primary my-2" target="_blank">Shop Now</a>
    </div>
    <div class="section mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="text-dark">Coming Campaigns</h2>
        </div>
        <div class="mx-auto">
            <img src="/images/img/jumia-global.jpg" alt="" class="img-fluid"
                style="">
        </div>
        <a href="https://c.jumia.io/?a=90174&c=554&p=r&E=kkYNyk2M4sk%3D&ckmrdr=https%3A%2F%2Fwww.jumia.ug%2F&utm_campaign=90174" class="btn btn-primary my-2" target="_blank">Shop Now</a>
    </div>
</div>

<div class="section py-3 px-5">
    <h3 class="text-center">You do not want to miss these</h3>
    <div class="row justify-content-around">
        <div class="col-md-6 mt-2">
            <img src="/images/img/jumia1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 mt-sm-2 mt-2">
            <img src="/images/img/jumia2.png" alt="" class="img-fluid">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center ad">
    <a href="https://c.jumia.io/?a=90174&c=1556&p=r&E=kkYNyk2M4sk%3D&utm_campaign=90174&utm_term=">
        <picture>
            <source srcset="https://affiliates.jumia.com/banners/tT3gVTQklpOcKwIRD22Dp5D5wQaCUgTdyGkQAfxj.jpeg"
                media="(min-width: 761px)">
            <source srcset="https://affiliates.jumia.com/banners/nZGz8bRGUD27QFXiVOkkrak0RC7ejsFOFCdTdeAf.jpeg"
                media="(max-width: 760px)">
            <img src="/media/examples/painted-hand-298-332.jpg" alt="" />
        </picture>
    </a>
</div>