<div class="section text-center masthead-vendor">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h1 class="text-uppercase">our most trusted vendors</h1>
    </div>
</div>

<div class="row justify-content-center section">
    <div class="col-sm-10 col-md-8">
        <p>
            The internet has a lot of information that can be hard to filter down to specific ones that are of interest to you. Same
            applies for online shopping, there are hundreds of online shops that can hard to filter. Here at Kadamura we provide you
            provides from the best vendors on the internet.
        </p>
        <p>
            Below we list for you the vendors that we acquire our products from. You can also link to there offficial stores to browse of what they provide you with.
        </p>

        <div class="d-flex justify-content-center ad">
            <a href="https://c.jumia.io/?a=90174&c=1556&p=r&E=kkYNyk2M4sk%3D&utm_campaign=90174&utm_term=">
                <picture>
                    <source srcset="https://affiliates.jumia.com/banners/tT3gVTQklpOcKwIRD22Dp5D5wQaCUgTdyGkQAfxj.jpeg"
                        media="(min-width: 761px)">
                    <source srcset="https://affiliates.jumia.com/banners/nZGz8bRGUD27QFXiVOkkrak0RC7ejsFOFCdTdeAf.jpeg"
                        media="(max-width: 760px)">
                    <img src="/media/examples/painted-hand-298-332.jpg" alt="" />
                </picture>
            </a>
        </div>

        <div class="vendor-description">
            <h2>1. Jumia</h2>
            <p>Jumia is the biggest online store in Africa, it is spread over 11 countries. The owners realized that there is no
                single online shop in Africa same as good as Amazon, they cam up with Jumia as to exploit the African market. Though
                growth in some countries has not been so great, it has done well in Uganda.</p>
            <p>The store has been for while so their services are certified and trusted, they have very affordable prices, Secured
                payment options and Fast delivery anywhere.</p>
            
            <p>
                Check there store here: <a href="https://www.jumia.ug" target="_blank">https://www.jumia.ug</a>
            </p>
            <div class="d-flex">
                <img src="/images/img/jumia-logo-cropped.jpg" class="m-auto" alt="jumia-logo" style="width: 200px;">
            </div>
        </div>

        <div class="vendor-description">
            <h2>2. YarnsDubai</h2>
            <p>YarnsDubai.com was launched in 2016 and specifically designed to make the process of purchasing online more convenient,
            efficient and secure. The brand is operated and managed by WENASI Yarns Trading LLC, based in United Arab Emirates.
            </p>
            <p>
                YarnsDubai.com offers the most comprehensive selection of yarns, threads, needles, hooks and accessories for
                knitters
                and crocheters, along with other crafts such as cross stitch and tapestry.
            </p>
            
            <p>
                With our vast selection of brands, regular offers, exceptional customer service and unbelievably fast deliveries
                (local
                and international), YarnsDubai.com has become a favorite portal for knitters and crocheters.
            </p>

            <p>We stock the best brands such as DMC, Myboshi, Hoooked, Red Heart, Wool and the Gang, KnitPro, Clover, Phildar, Bergere
            De France, Rico, Lion Brand, Scheepjes and many more!</p>
        
            <p>
                Check there store here: <a href="https://yarnsdubai.com" target="_blank">https://yarnsdubai.com</a>
            </p>

            <div class="d-flex">
                <img src="/images/img/yd-cropped.jpg" class="m-auto" alt="yarnsDubai-logo" style="width: 200px;">
            </div>
        </div>
    </div>
</div>